/* UltraLight */
@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Ultralight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-UltralightItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

/* Thin */
@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-ThinItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Regular */
@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

/* Semibold */
@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Heavy */
@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-HeavyItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

/* Black */
@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
